@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.comment {
  font-family: "Jost" !important;
}
.stars_menu_parent_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars_menu_parent_div .menu_icon {
  cursor: pointer;
  font-size: 26px;
}
.comment .ok_icon {
  font-size: 25px;
  cursor: pointer;
}
.comment .experince_div {
  display: flex;
  gap: 7px;
  border-bottom: 1px solid #b8b9b9;
}
