.search-container {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.dropdown .loading {
  padding: 10px;
  text-align: center;
}

.main_input_div .dropdown-item {
  padding: 10px !important;
  cursor: pointer !important;
  border-bottom: 1px solid #eee !important;
  height: 42px !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 25px !important;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.no-results {
  padding: 10px;
  color: gray;
}

.account-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.account-trigger {
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.account-trigger:hover {
  background-color: #e0e0e0;
}
.account-wrapper {
  padding: 10px 0;
}

/* .account-wrapper:hover .account-dropdown {
  display: block !important;
} */
.account-dropdown {
  /* display: none; */
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
  /* margin-top: 10px; */
  animation: fadeIn 0.3s ease-in-out;
}

.account-label {
  cursor: pointer;
}

.account-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-dropdown li {
  border-bottom: 1px solid #eee;
}

.account-dropdown li:last-child {
  border-bottom: none;
}

.account-dropdown a {
  display: block;
  padding: 6px 16px;
  color: #333;
  text-decoration: none;
  transition: background 0.2s ease;
}

.account-dropdown a:hover {
  background-color: #f9f9f9;
  color: #000;
}

.second_img_div {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main_input_div {
  width: 60%;
  height: 40px;
  border: 1px solid #000;
  padding: 4px 3px;
  border-radius: 5px;
  position: relative;
}
.main_input_div input {
  width: 100%;
  height: 100%;
}
.search_icon_div {
  position: absolute;
  top: 10px;
  right: 22px;
}

.main_input_div input {
  border: none;
  padding: 3px 3px;
}

.main_input_div input:focus {
  border: none;
  outline: none;
}

.main_input_div .search_icon_div {
  margin: 0px;
  padding: 0px;
  /* color: #000; */
  font-size: 18px;
}

@media (max-width: 600px) {
  .main_input_div {
    display: none;
  }
  .heart-container .icon_size {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .icon_size_none {
    display: none;
  }
  .uc-navbar .uc-navbar-right {
    gap: 0rem !important;
  }
  .account-dropdown {
    left: 0%;
  }
  .second_img_div {
    display: block !important;
  }
  .first_img_div {
    display: none !important;
  }
}
