.brands {
  background-color: white;
}
.brands hr {
  color: #626665;
  height: 1px;
  width: 100%;
}


.skeleton-product {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}

.skeleton-image {
  height: 150px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.2s infinite;
  border-radius: 10px;
}

.skeleton-text {
  height: 15px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.2s infinite;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
