@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.my_wishlist {
  font-family: "Jost" !important;
  position: relative;
}
.product_parent_div .img_div {
  position: relative;
}

.product_parent_div button.add_to_cart {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 8px 0;
  width: 130px;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.img_div:hover button.add_to_cart {
  opacity: 1;
  visibility: visible;
}

.img_div .delte_icon {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 30px;
  color: red;
  /* display: none; */
  /* visibility: hidden; */
  transition: 0.3s ease-in-out, 0.3s ease-in-out;
}
.img_div:hover .delte_icon {
  /* display: block; */
  visibility: visible;
}
.heading_div {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.my_profile {
  position: relative;
}
.position_fixed {
  position: sticky;
  top: 80px;
  max-height: 80vh;
  /* overflow-y: auto; */
}
.my_wishlist .product_grid_main_div {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.mar_top {
  margin-top: 132px;
}
.my_wishlist .product_parent_div {
  max-width: 250px;
  height: 370px;
  /* border: 1px solid black; */
}
.my_wishlist .product_parent_div .img_div {
  max-width: 244px;
  overflow: hidden;
  height: 260px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
}
.my_wishlist .product_parent_div .img_div img {
  max-width: 193px;
  height: 197px;
}
.my_wishlist .content {
  margin-top: 20px;
}
.my_wishlist .content h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0 !important;
}
.my_wishlist .content p#color_gray {
  font-size: 13px;
  font-weight: 400;
  color: #626665;
}
.my_wishlist .content .price_div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.my_wishlist .content .price_div p {
  margin-top: 0 !important  ;
  font-size: 13px;
  font-weight: 500;
}
.my_wishlist .content .price_div p#old_Price {
  color: #626665;
}
@media screen and (max-width: 850px) {
  .product_grid_main_div {
    margin-top: 100px;
  }
}

@media screen and (max-width: 750px) {
  .my_wishlist .product_grid_main_div {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
  .my_wishlist .product_parent_div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
