@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.login {
  font-family: "Jost" !important;
}
#login .d_flex {
  display: flex;
}
.login input {
  font-size: 16px !important;
}

#login .height_width {
  width: 100%;
  height: 100vh;
  position: relative;
}
#login .height_width img.logoImg {
  height: auto;
  width: 130px;
  position: absolute;
  background: none;
  left: 30px;
  top: 30px;
}

#login h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Jost" !important;
  height: 50px;
  margin: 0;
  padding: 0;
}
#login img {
  height: 100vh;
  width: 100%;
}
#login form label {
  font-size: 20px;
  font-weight: 400;
}
#login form input.border_radius {
  border-radius: 11px !important;
  border: 1px solid #626665;
}

#login .rember_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#login .check_box_div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#login input.large {
  width: 430px;
  height: 54px;
}
#login button {
  font-family: "Jost" !important;
  font-weight: 600;
  font-size: 20px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* Style checkbox when checked */
input[type="checkbox"]:checked {
  background-color: black;
  border-color: black;
}

/* Create the tick symbol */
input[type="checkbox"]:checked::after {
  content: "✔"; /* Unicode tick symbol */
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login .signup_div {
  display: flex;
  align-items: center;
}
.login .signup_div a {
  text-decoration: none;
  color: blue;
}

@media screen and (max-width: 768px) {
  #login img {
    display: none;
  }
  #login input.large {
    max-width: 100%;
  }
}
