@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.blur-effect {
  filter: blur(5px);
  pointer-events: none;
}

.new_pass {
  font-family: "Jost" !important;
}
#new_pass .d_flex {
  display: flex;
}
#new_pass .icon_div {
  display: flex;
  gap: 15px;
}

#new_pass .height_width {
  width: 100%;
  height: 100vh;
  align-items: center;
}

#new_pass h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Jost" !important;
  height: 50px;
  margin: 0;
  padding: 0;
}
#new_pass img {
  height: 100vh;
  width: 100%;
}
#new_pass form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0 !important;
}
#new_pass form input.border_radius {
  border-radius: 11px !important;
  border: 1px solid #626665;
}

#new_pass .rember_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#new_pass .check_box_div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#new_pass input.large {
  width: 430px;
  height: 54px;
}
#new_pass button {
  font-family: "Jost" !important;
  font-weight: 600;
  font-size: 20px;
}
#new_pass .pop_up {
  width: 526px;
  height: 357px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.pop_up.visible {
  opacity: 1;
  visibility: visible;
}

#new_pass img.tic {
  width: 71px;
  height: 71px;
  border: 1px solid red;
}
#new_pass .pop_up button {
  width: 391px;
}
#new_pass .pop_up h3 {
  font-size: 24px;
  font-weight: 800;
  font-family: "Jost" !important;
}

@media screen and (max-width: 1024px) {
  #new_pass h2 {
    font-size: 32px;
    height: 34px;
  }
}

@media screen and (max-width: 768px) {
  #new_pass h2 {
    font-size: 32px;
    height: 54px;
  }
  #new_pass img.hide {
    display: none;
  }
  #new_pass input.large {
    max-width: 100%;
  }
  #new_pass .j-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #new_pass .pop_up {
    width: 450px;
    height: 330px;
  }
}
@media screen and (max-width: 430px) {
  #new_pass p {
    text-align: center;
  }
  #new_pass form {
    width: 290px;
  }
  #new_pass input.large {
    width: 100%;
    height: 40px;
  }
}
