@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.forget_pass {
  font-family: "Jost" !important;
}
#forget_pass .d_flex {
  display: flex;
}
#forget_pass .icon_div {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

#forget_pass .height_width {
  width: 100%;
  height: 100vh;
  align-items: center;
}

#forget_pass h2 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Jost" !important;
  height: 50px;
  margin: 0;
  padding: 0;
}
#forget_pass img {
  height: 100vh;
  width: 100%;
}
#forget_pass form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0 !important;
}
#forget_pass form input.border_radius {
  border-radius: 11px !important;
  border: 1px solid #626665;
}

#forget_pass .rember_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#forget_pass .check_box_div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#forget_pass input.large {
  width: 430px;
  height: 54px;
}
#forget_pass button {
  font-family: "Jost" !important;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  #forget_pass h2 {
    font-size: 32px;
    height: 34px;
  }
}

@media screen and (max-width: 768px) {
  #forget_pass h2 {
    font-size: 32px;
    height: 54px;
  }
  #forget_pass img {
    display: none;
  }
  #forget_pass input.large {
    max-width: 100%;
  }
  #forget_pass .j-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  #forget_pass p {
    text-align: center;
  }
  #forget_pass form {
    width: 290px;
  }
  #forget_pass input.large {
    width: 100%;
    height: 40px;
  }
}
