@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
.my_address {
  font-family: "Jost" !important ;
  position: relative;
}
.my_address .mar_top {
  margin-top: 132px;
}
.my_address .name_div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.my_address .name_div h3 {
  margin-bottom: 0 !important;
}
.my_address h6#default {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 10px;
  margin-bottom: 0 !important;
  height: 22px;
  display: flex;
  align-items: center;
}
form .address_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form .address_div h3 {
  margin-bottom: 0 !important;
}

form .address_div .icon_size {
  font-size: 20px;
  font-weight: 700;
}
.mar_top {
  margin-top: 90px;
}
.heading_div {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.my_address .second_div {
  position: relative;
}
.my_address .address_parent_div {
  border-bottom: 1px solid #b8b9b9;
}
p#btn {
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 8px 10px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}
.my_address .address_div h3 {
  font-family: "Jost" !important ;
  font-weight: 600;
  font-size: 24px;
}
.my_address .phone_div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.my_address .flex_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my_address .flex_div p {
  font-size: 20px;
  font-weight: 400;
  color: #626665;
}
.my_address .phone_div p {
  font-size: 20px;
  font-weight: 400;
  color: #626665;
}
.my_address .phone_div .icon_size {
  font-size: 20px;
}

.my_address .address_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_address .address_div .btn_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.my_address .address_div .btn_div button {
  padding: 5px 16px;
  border: none;
  outline: none;
  border-radius: 11px;
  font-size: 13px;
  font-weight: 600;
}
.my_address button.edit {
  background-color: #ececec;
  display: flex;
  gap: 05px;
  align-items: center;
}
.my_address .edit_icon {
  font-size: 16px;
}

.my_address button.delte {
  background-color: #fee2e2;
  color: #ff5c5e;
  display: flex;
  gap: 5px;
  align-items: center;
}
.my_address .edit_form {
  max-width: 100%;
  /* height: 90vh; */
  padding: 24px 20px;
  font-family: "Jost" !important ;
  position: fixed;
  display: none;
  top: -100%;
  z-index: 9999;
  background-color: white;
  color: #000;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.my_address .active {
  display: block;
  top: 02%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
}

.my_address .edit_form input {
  max-width: 350px !important;
  max-height: 42px !important;
  border-radius: 7px !important;
}
.my_address .edit_form select {
  max-height: 42px !important;
  width: 350px;
  height: 42px;
}
.my_address .edit_form .select_div {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.my_address .edit_form select {
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}
.my_address .edit_form .form_check {
  display: flex;
  align-items: center;
  gap: 10px;
}
.my_address .edit_form button {
  font-size: 12px;
  font-weight: 400;
  padding: 10px 14px;
  border: none;
  outline: none;
  border-radius: 7px;
  width: 100%;
}
.my_address .edit_form input:focus {
  border: none !important;
  outline: none !important;
}

.my_address .edit_form .btn_div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.my_address .edit_form button#cancel {
  background-color: #ececec;
}
.my_address .edit_form button#add_new {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .my_address .second_div {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .my_address .edit_form {
    width: 100%;
  }
}
